<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-5.3.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connexion à la base -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/student_platform?useSSL=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Options -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>



        <!-- Entités -->
        <mapping class="com.example.model.Student"/>
        <mapping class="com.example.model.Product"/>
        <mapping class="com.example.model.ProductImage"/>
        <mapping class="com.example.model.Donation"/>
        <mapping class="com.example.model.LostAndFound"/>

    </session-factory>
</hibernate-configuration>
